<footer class="footer-section">
    <div class="container">
        <ul class="footer-menu">
            <li><a href="{{ path('app_home') }}">Home</a></li>
            <li><a href="{{ path('app_review') }}">Reviews</a></li>
            <li><a href="{{ path('app_news') }}">News</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
        </ul>
        <p class="copyright">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i>
            by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        </p>
    </div>
</footer>